.containerFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: calc(2.027rem + 1.22vw);
}

@media screen and (max-width: 38.75rem){
    .containerFilter{
        flex-direction: column;

        row-gap: calc(1.709rem + 2.041vw);
    }
}